<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Visual AI</title>

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700&display=swap"
    rel="stylesheet" />

  <!-- feather icons -->
  <script src="https://unpkg.com/feather-icons"></script>

  <!-- my style -->
  <link rel="stylesheet" href="../static/css/styles.css" />
</head>

<body>
  <!-- navbar start -->
  <nav class="navbar">
    <a href="#" class="navbar-logo">VISUAL<span>AI.</span></a>
    <div class="navbar-nav">
      <a href="#home">Home</a>
      <a href="#streaming">Streaming</a>
      <a href="#report">Report</a>
      <a href="#contact">Kontak</a>
    </div>
    <div class="navbar-extra">
      <a href="#" id="search"><i data-feather="search"></i></a>
      <a href="#" id="hamburger-report"><i data-feather="report"></i></a>
    </div>
  </nav>

  <!-- hero section start-->
  <section class="hero" id="home">
    <main class="content">
      <h1>Let CCTV Effectively Finalize<span> The Company with AI</span></h1>
      <p>
        This project is developed to assist 5S supervisors in monitoring the condition of the work area using AI.
      </p>
    </main>
  </section>

  <!-- Streaming section start -->
  <section id="streaming" class="streaming">
    <h2><span>AI</span> Streaming</h2>
    <div class="row">
      <div class="streaming-img">
        <video width="640" height="320" autoplay loop muted>
          <source src="../static/videos/video1.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="content">
        <!-- Konten tambahan jika diperlukan -->
      </div>
    </div>
  </section>

  <!-- report section start -->
  <section id="report" class="report">
    <h2><span>Data</span> Report</h2>
    <div class="row">
      <div class="report-card">
        <img src="../static/images/menu-bg.jpg" alt="OFFICE1" class="menu-card-img" />
        <h3 class="report-card-title">- OFFICE1 -</h3>
      </div>
      <div class="report-card">
        <img src="../static/images/menu-bg.jpg" alt="OFFICE2" class="menu-card-img" />
        <h3 class="report-card-title">- OFFICE2 -</h3>
      </div>
      <div class="report-card">
        <img src="../static/images/menu-bg.jpg" alt="OFFICE3" class="menu-card-img" />
        <h3 class="report-card-title">- OFFICE3 -</h3>
      </div>
    </div>
  </section>

  <!-- feather icons -->
  <script>
    feather.replace();
  </script>

  <!-- my javascript -->
  <script src="../static/js/scripts.js"></script>
</body>

</html>